body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* 明るい青の背景 */
}

header {
    background-color: #1e90ff; /* ダークブルーのヘッダー */
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#about ul {
    list-style: none;
}


figure {
    text-align: center; /* 画像とキャプションを中央揃えにする */
    margin: 15px 0; /* 画像の上下にスペースを追加 */
}

img {
    max-width: 100%; /* 画像が画面幅を超えないようにする */
    height: auto; /* 高さを自動調整 */
}

.container {
    overflow: auto; /* フロートをクリアするために追加 */
    margin: 20px 0; /* 各プロジェクト間にスペースを追加 */
    padding: 15px;
    border: 1px solid #e0e0e0;
}

.container .caption {
    font-size: 30px;
    line-height: 1.5;
    display: flex; /* Flexboxを使用 */
    align-items: flex-start; /* 上揃えにする */
}

.container p{
    font-size: 15px;
}

.container img {
    float: left; /* 画像を左に浮かせる */
    margin-right: 20px; /* 画像とテキストの間にスペースを追加 */
    height: auto;
    object-fit: cover;
    max-height: 200px;
    width: 160px; /* 画像の最大幅 */
    margin-right: 20px;
    display: flex; /* Flexboxを使用 */
    align-items: flex-start; /* 上揃えにする */
}

.container .language .Arduino-image {
    width: 170px;
    height: 180px;
}


.project {
    margin: 20px 0; /* 各プロジェクト間にスペースを追加 */
    padding: 15px;
    border: 1px solid #e0e0e0; /* プロジェクトボックスに境界線を追加 */
    border-radius: 8px; /* 角を丸くする */
    background-color: #f9f9f9; /* 背景色を追加 */
}

section {
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    background-color: #ffffff; /* 白のセクション */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 軽い影 */
}

h2 {
    color: #1e90ff; /* セクション見出しの色 */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #1e90ff; /* ダークブルーのフッター */
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}